<!DOCTYPE html>
<html lang="en"  ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Open Onderwijs API</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
		<script src="../assets/js/html5shiv.js"></script>
	<![endif]-->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/flat-ui.min.css" rel="stylesheet">
	<link href="/static/css/extra.css" rel="stylesheet">
	<link href="/static/bower_components/pace/themes/blue/pace-theme-minimal.css" rel="stylesheet">
	<link href="/static/bower_components/github-fork-ribbon-css/gh-fork-ribbon.css" rel="stylesheet">
	<style type="text/css">

	</style>
</head>
<body>
	<!-- TOP RIGHT RIBBON: START COPYING HERE -->
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/openstate/openonderwijsdata-api">Fork me on GitHub</a>
        </div>
    </div>
    <!-- TOP RIGHT RIBBON: END COPYING HERE -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
			<span class="sr-only">Toggle navigation</span>
		</button>
		<a class="navbar-brand" ui-sref="index">Open Onderwijs API</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-01">
		<ul class="nav navbar-nav">
			<li><a href="/" ui-sref="index">Search</a></li>
			<li><a ui-sref="stats">Statistics</a></li>
			<li><a ui-sref="export">Export</a></li>
<!--			<li><a href="#fakelink">About</a></li>
			<li><a href="#fakelink">API documentation</a></li> -->
		</ul>
	</div>
<!-- /.navbar-collapse --></nav>


	<section ui-view>
	{% block main %}{% endblock %}
	</section>
</div>


	</div>
	<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/static/bower_components/lodash/dist/lodash.compat.js"></script>
	<script src="/static/js/flat-ui.min.js"></script>
	<script src="/static/bower_components/pace/pace.js"></script>
	<script src="/static/bower_components/angular/angular.js"></script>
	<script src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/static/bower_components/elasticsearch/elasticsearch.angular.min.js"></script>
	<script src="/static/js/ooa.js"></script>
	<script charset="utf-8">

	</script>
</body>
</html>
